.button {
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin: 1rem;
  background: transparent;
  border: 3px solid black;
  display: block;
  width: auto;
  @include mq(medium) {
    margin: 1rem auto;
  }
  &:hover {
    background: black;
    background-color: linear-gradient(#111111, black);
    color: white;
  }
}
