.footer {
  width: 100%;
  @include primary-blue-background;
  margin-bottom: 3rem;
  @include mq(medium) {
    margin-bottom: 0; 
  }
}

.footer__container {
  @include container;
  @include mq(medium) {
    max-width: 38rem;
  }
}


.copyright {
  width: 100%;
  p {
    font-size: 0.8rem;
    text-align: center;
  }
}
