.hero {
  @include black-background;
  position: relative;
  background-image: url('../images/hero-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &:after {
    content: "";
    background: black;
    opacity: .65;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.hero__container {
  @include container;
  @include mq(medium) {
    max-width: 41rem;
  }
}

.hero__copy {
  position: relative;
  z-index: 1;
  h1 {
    font-size: 3.5rem;
    color: white;
    line-height: .985;
    margin-bottom: 2rem;
    max-width: 40rem;
  }
  p {
    font-size: 1.25rem;
    max-width: 40rem;
  }
}
