.masthead {
  @include primary-blue-background;
  width: 100%;
  position: relative;
  top: 0;
}

.masthead > a { color: white; }

.masthead__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  justify-content: space-around;
  @include mq(medium) {
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
    justify-content: space-between;
  }
}

.masthead__logo {
  p {
    font-family: $arial-black;
    font-size: 1.3rem;
  }
}
