@mixin container {
  margin: 0;
  padding: 2rem 1rem;
  @include mq(medium) {
    padding: 3.5rem 1rem;
    margin: 0 auto;
    max-width: 50rem;
  }
}

.container {
  @include container;
}

@mixin white-background {
  background: white;
  background-image: linear-gradient(white, #eeeeee);
  color: black;
  .button {
    border: 2px solid black;
    background: #eeeeee;
    &:hover {
      background: black;
      background-color: linear-gradient(#111111, black);
      color: white;
    }
  }
}

@mixin lightgrey-background {
  background: #cccccc;
  background-image: linear-gradient(#cccccc, #bbbbbb);
  color: black;
  .button {
    border: 2px solid black;
    &:hover {
      background: black;
      background-color: linear-gradient(#111111, black);
      color: #cccccc;
    }
  }
}

@mixin darkgrey-background {
  background: #333333;
  background-image: linear-gradient(#333333, #222222);
  color: white;
  .button {
    border: 2px solid white;
    &:hover {
      background: white;
      background-color: linear-gradient(white, #eeeeee);
      color: #333333;
    }
  }
}

@mixin black-background {
  background: black;
  background-image: linear-gradient(#222222, #111111);
  color: white;
  .button {
    border: 2px solid white;
    &:hover {
      background: white;
      background-color: linear-gradient(white, #eeeeee);
      color: black;
    }
  }
}

@mixin primary-blue-background {
  background: $primary_blue;
  background-image: $primary_blue--gradient;
  color: white;
  .button {
    border: 2px solid white;
    &:hover {
      background: white;
      background-color: linear-gradient(white, #eeeeee);
      color: $primary_blue;
    }
  }
}

@mixin secondary-blue-background {
  background: $secondary_blue;
  background-image: $secondary_blue--gradient;
  color: white;
  .button {
    border: 2px solid white;
    &:hover {
      background: white;
      background-color: linear-gradient(white, #eeeeee);
      color: $secondary_blue;
    }
  }
}
