.navigation {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  @include primary-blue-background;
  @include mq(medium) {
    width: 75%;
    position: relative;
    background: none;
    background-image: none;
  }
}

nav {
  ul {
    width: 65%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    @include mq(medium) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 0;
    }
    li {
      display: inline-block;
      text-align: center;
      @include mq(medium){
        margin-right: 2rem;
        &:last-child { margin-right: 0; }
      }
      a {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem 0;
        @include mq(medium){
          padding: 0.5rem 0;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


.services {
  &:before{
  content: "";
  background-image: url("../images/icons/services.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center center;
  position: relative;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  }
}
.articles {
  &:before{
  content: "";
  background-image: url("../images/icons/articles.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: center center;
  position: relative;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  }
}
