html { font-family: $arial-narrow; }

h1, h2, h3, h4, h5, h6 {
  font-family: $arial-black;
  display: block;
  line-height: 1.38;
}

h1 { font-size:  4.25rem; }
h2 { font-size:  3.5rem; }
h3 { font-size:  2.75rem; }
h4 { font-size:  2rem; }
h5 { font-size:  1.25rem; }
h6 { font-size:  1rem; }

.post-script {
	p{
	display: block;
	max-width: 45rem;
	font-size: 0.8rem;
	margin: 0 auto;
	text-align: center;
		a{
			text-decoration: underline;
		}
	}
}
