// Typography
$arial-narrow: "Arial Narrow", Arial, sans-serif !default;
$arial-black: "Arial Black", "Arial Bold", Gadget, sans-serif !default;

$base-font-family: $arial-narrow;

// Colors

$primary_blue: #193B5E;
$secondary_blue: #19355E;


$black: #333333;
$white: #cccccc;
$grey: #777777;

$primary_blue--gradient: linear-gradient($primary_blue, $secondary_blue);
$secondary_blue--gradient: linear-gradient($secondary_blue, $primary_blue);
