.about {
  @include black-background;
}

.about__container {
  @include container;
  display: flex;
  flex-direction: column;
  @include mq(medium) {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    max-width: 50rem;
    margin: 0 auto;
  }
}

.about__copy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
  @include mq(medium) {
    margin-bottom: 0;
  }
  h2 {
    font-size: 3.5rem;
    text-align: center;
    @include mq(medium) {
      text-align: left;
    }
  }
  p {
    max-width: 25rem;
    margin: 0 auto;
  }
}

.about__image {
  img.profile-image {
    border-radius: 100%;
    max-width: 275px;
    align-self: center;
    display: table;
    margin: 0 auto;
  }
}
