.breadcrumbs {
  width: 100%;
}

.breadcrumbs__container {
  @include container;
  @include mq(medium) {
    padding: 2rem 1.5rem 1rem 1.5rem;
  }
}

ul.breadcrumbs_crumbs {
  display: flex;
  flex-flow: row;
  li {
    margin: 0 1rem;
    position: relative;
    &:first-child {
      margin: 0;
    }
    &:after {
      content: "|";
      position: absolute;
      right: -11px;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
