.project-heading {

}
.project-heading__container {
  @include container;
  @include mq(medium) {
    padding: 0 1.5rem;
  }
}

.project__description {
  @include container;
  p { font-size: 1.75rem; }
  @include mq(medium) {
    padding: 0 1.5rem;
  }
}
