.services-panels {
  @include white-background;
}

.services-panels__container {
  @include container;
  padding-left: 0;
  padding-right: 0;
  @include mq(medium) {
    max-width: 50rem;
  }
}
.services-panels__header {
  text-align: center;
  margin-bottom: 2rem;
  h2 {
    font-size: 3.5rem;
    text-align: center;
    color: $primary_blue;
  }
}
.services-panels__panels {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  margin-bottom: 1rem;
  @include mq(medium) {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
.services-panels__panel {
  display: block;
  border-bottom: 1px solid #cccccc;
  margin: .5rem auto;
  padding: .5rem 0;
  max-width: 27rem;
  @include mq(medium) {
   max-width: 21rem;
  }
  h2 {
    color: $primary_blue;
    font-size: 2rem;
    text-align: center;
    }
  p {
    color: $black;
    font-size: 1.1rem;
    padding: 1rem;
    @include mq(medium){
      padding: 1rem 0;
    }
  }
  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @include mq(medium){
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
}

.services-panels__contact {
  width: 100%;
  display: flex;
  .button {
    border-radius: 12px;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    margin: 1rem auto;
    background-color: $primary_blue;
    border: 3px solid $primary_blue;
    color: white;
    &:hover {
      background-color: transparent;
      color: $primary_blue;
    }
  }
}

.consulting {
  background-image: url("../images/icons/bubbles4.svg");
  background-repeat: no-repeat;
  background-size: 8rem;
  background-position: center center;
}

.workshops {
  background-image: url("../images/icons/pencil2.svg");
  background-repeat: no-repeat;
  background-size: 6rem;
  background-position: center center;
}
