.skills {
  @include lightgrey-background;
  background-image: url(../images/skills-background.jpg);
  background-position: center center;
  background-size: cover;
}

.skills__container {
  @include container();
}
.skills__header {
  text-align: center;
  margin-bottom: 2rem;
  h2 {
    font-size: 3.5rem;
    text-align: center;
  }
}
ul.skills__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  li {
    padding: 0.5rem;
    width: 50%;
    @include mq(medium) {
      width: 33.33333%;
      text-align: left;
    }
  }
}

.skills__resume {
  width: 100%;
  display: flex;
  margin: 1rem 0;
  .button {
    border-radius: 12px;
    font-size: 1.25rem;
    padding: .5rem 2rem;
    margin: 1rem auto;
  }
}
