.social-media {
  width: 100%;
}

.social-media__icons {
  display: table;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  li {
    display: inline-block;
    list-style: none;
    margin-right: 1rem;
    &:last-child { margin-right: 0;}
  }
}

.icon{
  width: 21px;
  height: 21px;
  vertical-align: middle;
}
