.triptych {
  width: 100%;
}

.triptych__container {
  @include container;
  display: flex;
  flex-direction: column;
  @include mq(medium) {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
  }
}

.triptych__panel {
  padding: 1em;
  display: block;
  min-width: 33%;
  h2 {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 7rem;
  }
  .button {
    display: block;
  }
}
